@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
 margin: 0px;
 padding: 0px ;
 box-sizing: border-box;
 text-decoration: none;
}
body{
 background-color: rgb(24, 5, 43);
 color: white;
}
html{
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar styling */

.navbar{
 position: fixed;
 width: 100%;
 z-index: 999;
 padding: 10px 10px 30px 20px;
 font-family: 'ubuntu', sans-serif;
transition: all 0.2s ease;
}
.navbar.sticky{
 padding:5px 5px 20px 10px;
 background :rgb(52, 2, 112);
}
 /*.max-width{
 padding: 10px 60px;
}*/
/*.navbar.menu li a{
 color: white;
}*/
.navbar .max-width{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logo a{
 font-size: 40px;
 font-weight: 800;
 color: white;
}
.navbar .logo a span{
 color: rgb(172, 112, 228);
 transition: all 0.3s ease;
}
.navbar .logo a span:hover{
 color: white;
 }
.navbar .sticky .logo a {
 color:rgb(172, 112, 228);
}

.navbar .menu li{
 list-style: none;
 display:inline-block ;
 padding-left: 20px;
padding-right: 30px;
}
.navbar .menu li a{
 display: block;
 color: white;
 font-size:25px;
 font-weight: 1000;
 margin-left: 25px;
 transition: color 0.3s ease;
 position: relative;
}
.navbar .menu li a:hover{
 color: rgb(172, 112, 228);
}
.navbar .menu li a::after{
 content: '';
 width: 0;
 height: 3px;
 background-color: aliceblue;
 position: absolute;
 left: 0;
 bottom: -6px;
 transition: 0.3s;
}

.navbar .menu li a:hover::after{
 width: 100%;
}

.navbar.sticky .menu li a:hover{
 color:rgb(172, 112, 228);}

 /*....menu button styling....*/

 .menu-btn{
  color: whitesmoke;
  font-size: 50px;
  cursor: pointer;
  padding-right: 50px;
  display: none;
}
.menu-btn:hover{
  color: rgb(172, 112, 228);
}

/* scroll-up-btn*/

.scroll-up-btn{
  position: fixed;
  height: 50px;
  width: 60px;
  right: 30px;
  bottom: 10px;
  background-color: rgb(172, 112, 228);
  text-align: center;
  line-height: 50px;
  color: white;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
cursor: pointer;
opacity: 0;
pointer-events: none;
transition: all 0.3s ease;
}

.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
pointer-events: auto;
}
 /* ............home........*/

.home{
 display: flex;
 color: whitesmoke;
 background: url(background.jpg) no-repeat;
 alt:image;
 background-position-x: right;
 background-attachment: fixed;
 background-size:contain;
 height:100vh;
 font-family: 'ubuntu',sans-serif;
 margin-bottom: 100px;
}
.home .max-width{
 margin: auto 0 auto 100px;
}
.home .home-content .text1{
 font-size: 50px;
}
.home .home-content .text2{
 font-size: 80px;
 font-weight: 800;
 margin-left: -5px;
}
.home .home-content .text3{
 font-size: 40px;
 margin: 10px 5px;
}
.home .home-content .text3 span{
 font-size: 50px;
 font-weight: 400;
 margin: 10px 0;
 color:  whitesmoke;
 transition: color 0.5ms ease-out ;
}
.home .home-content .text3 span:hover{
 color:rgb(172, 112, 228);
}


/* .....about.....*/

.about{
  font-family: 'Poppins', sans-serif  ;
 }
 .about .title{
  font-family: 'Ubuntu',sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  padding-top:0px;
 padding-bottom: 50px;
 margin-bottom: 20px;
 position: relative;
 }
 .about .title:hover{
  color: rgb(172, 112, 228);
 }
 .about .title::before{
  content: "";
  width: 0;
  height: 3px;
  background-color:rgb(172, 112, 228); ;
  position: absolute;
  left: 42%;
  bottom: 50px;
  transition: 0.3s;
 }
 .about .title:hover::before{
  width:300px;
 }


#image{
 border-radius: 30%;
 object-fit:cover;
 height: 70vh;
 padding-bottom: 80px;
 padding-top: 80px;
 padding-right: 20px;
 padding-left: 50px;
 
}

.about .about-content{
 display: flex;
 flex-wrap: wrap;
 align-items:center;
 background-color: rgb(35, 7, 63);
 justify-content: space-between;
 margin: 0px  50px;
 padding: 20px 40px;
}
.about .about-content .column{
 width: 50%;
}
.about .about-content .column-right{
 width: 50%;
 font-size: 40px;
 font-weight: 100;
 padding-left: 10px;
 padding-right: 30px;
 padding-bottom: 0;
 margin-right: 50px;
 text-align: justify;
 }
 
 .about .about-content .column-right .text span{
  color:rgb(172, 112, 228) ;
  font-weight: 800;
  font-size: 40px;
 }
 .about .about-content .column-right p{
  font-size: 30px;
  text-align: justify;
 }
 .about .about-content .column-right a{
  display:inline-block;
  font-size: 20px;
  padding: 12px 36px;
  border-radius: 10px;
  margin-left: 200px;
  color: aqua;
  margin-top: 50px;
  border: 2px solid aqua;
  transition: all 0.3s ease-in-out;
 }
 .about .about-content .column-right a:hover{
  color: red;
  background: none;
 }
 /*.about .about-content .column{
  width: 100%;
 }*/
 .education {
  font-family: 'Poppins', sans-serif  ;
 }
 .education .title{
  font-family: 'Ubuntu',sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  padding-top: 30px;
 padding-bottom: 0px;
 margin-bottom: 20px;
 position: relative;
 }
 .education .title:hover{
  color: rgb(172, 112, 228);
 }
 .education .title::before{
  content: "";
  width: 0;
  height: 3px;
  background-color:rgb(172, 112, 228); ;
  position: absolute;
  left: 42%;
  bottom: 0px;
  transition: 0.3s;
 }
 .education .title:hover::before{
  width:300px;
 }
 
.education .education-content{
 display: flex;
 flex-wrap: wrap;
align-items: center;
justify-content: space-between;
background-color: rgb(35, 7, 63);
border-radius: 6px;
cursor: pointer;
padding:100px 100px ;
margin: 70px 70px 70px 70px;

}
.education .education-content .card i{
 font-size: 50px;
 color:rgb(172, 112, 228);
}
.education .card{
  padding-bottom: 100px;
}
.education .card .text{
 font-size: 50px;
 font-weight: 200;
}
.education .grad-contents li{
 display: none;
 list-style: none;
 padding-left: 20px;
 font-size: 30px;
}
.education .grad-contents.active-tab li{
 display: block;
}
.education .grad-contents li span{
 color:rgb(172, 112, 228);
 font-size: 25px;
}

/* skills style */

/*section{
  padding: 100px 10px 0px 10px;
 }*/
 .skills {
  font-family: 'Poppins', sans-serif  ;
 }
 .skills .title{
  font-family: 'Ubuntu',sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  padding-top: 30px;
 padding-bottom: 0px;
 margin-bottom: 20px;
 position: relative;
 }
 .skills .title:hover{
  color: rgb(172, 112, 228);
 }
 .skills .title::before{
  content: "";
  width: 0;
  height: 3px;
  background-color:rgb(172, 112, 228);
  position: absolute;
  left: 42%;
   bottom: 0px;
   transition: 0.3s;
 }
 .skills .title:hover::before{
  width:250px;
 }
 .skills .skills-content{
  background-color:rgb(35, 7, 63);
  margin:10px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  padding:100px 100px ;
  margin: 50px 70px 70px 70px;
 }
 .skills .skills-content .container-element{
  background:linear-gradient(to right,rgb(67, 13, 121),rgba(216, 112, 147,0.5)) ;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  margin: 10px;
  text-align:center;
  width: 500px;
  height: 50px;
  padding-left: 80px;
 }

 /* contact section */

 .contact{
  font-family: 'Poppins', sans-serif  ;
 }
 .contact-content{
  background-color:rgb(35, 7, 63);
 margin:10px;
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 padding:50px 100px ;
margin: 70px 70px 70px 70px;
 }
 .contact .contact-content .column-left{
  width: 60%;
  font-size: 30px;
}
.contact .contact-content .column-left .social-icons a{
  color: white;
  
}
.contact .contact-content .column-right{
  font-size: 30px;
  margin-left: -100px;
  margin-bottom: 20px;
}
.contact .contact-content .column-right form input{
  height: 60px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  background-color:#c1cbd3;
}
.contact .contact-content .column-right form textarea{
font-size:20px; 
text-align: justify;
padding:10px;
background-color:#c1cbd3;
}
.contact .contact-content .column-right form button{
  background:radial-gradient(rgb(227, 227, 235),rgb(101, 110, 165),rgb(157, 175, 230));
  outline-style:double;
  height: 100px;
  width: 100px;
  margin-left: 200px;
  border-radius: 50%;
  font-size: 20px;
  cursor:pointer;
}
.contact .contact-content .column-left .sub-title{
  margin: 10px 0;
  font-size:50px;
  margin-left: -50px;
  margin-top: -50px;
}

/* ......css for small screens....*/

@media  screen and (max-width:500px){
  *{
    margin: 0px;
    padding: 0px;
    box-sizing:unset;
    text-decoration: none;
   }
  .home{
    background:none;
}
.home{
  
  margin-bottom: 0px;
 }
#image{
  border-radius: 50%;
  object-fit:cover;
  height: 200px;
  width: 200px;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-right: 50px;
  margin-left: 30px;
 }
}

@media (max-width: 557px){
  .menu-btn{
      display: block;
      z-index: 999;
      margin-right: 20px;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 50vh;
      width: 30%;
      left: -100%;
      top: 0;
      background: #540bb4;
      text-align: center;
      padding-top: 10px;
      transition: all 0.3s ease-in-out;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text2{
      font-size: 10px;
  }
  .home .home-content .text3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 830px;
  }
  .about .title
  {
    padding-top:0px;
   padding-bottom: 50px;
   margin-bottom: 30px;
   position: relative;
   font-weight: 100;
   font-size: 30px;
   padding-left: 200px;
   }
   .about .title::before{
    width: 0;
    left: 52%;
    bottom: 50px;
   }
   .about .title:hover::before{
    width:200px;
   }
   .skills .title{
    font-size: 30px;
    font-weight: 200;
    padding-top: 0px;
   padding-bottom: -80px;
   padding-left: 200px;
margin-top: -50px;
margin-bottom: -10px;
   }
   
   .skills .title::before{
    left: 68%;
   }
   .skills .title:hover::before{
    width:80px;
   }
   .education .title{
    font-size: 30px;
    font-weight: 200;
    padding-left: 200px;
   }
   .education .title::before{
    left: 60%;
    bottom: 0px;
    transition: 0.3s;
   }
   .education .title:hover::before{
    width:150px;
   }
  .about .about-content
  {
  width: 350px;
margin: -50px 0px 0px 50px;
padding-left: 60px;
padding-right: 20px;
  }
   .skills .skills-content{
    width: 350px;
    margin: 50px -50px 0px 50px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 20px;
   }
   .skills .skills-content .container-element{
    border-radius: 50%;
    font-size: 15px;
  
    /*line-height: 80px;*/
    text-align:center;
    width: 270px;
    height: 50px;
    padding-top: 20px;
    padding-left: 25px;
   }
  .education .education-content{
    width: 350px;
margin: 0px 50px 70px 50px;
padding-left: 60px;
padding-right: 20px;
padding-bottom: 20px;
padding-top: 20px;
   }
   .education .education-content .card i{
    font-size: 20px;
   }
   .education .card .text{
    font-size: 30px;
    font-weight: 30;
   }
   .education .grad-contents li{
    padding-left: 20px;
    font-size: 20px;
   }
   .education .card{
    padding-bottom: 10px;
  }
   .contact-content{
    width: 350px;
    margin: 50px -20px 70px 50px;
    padding-left: -60px;
    padding-right: -50px;
   }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 40px;
      font-size: 10px;
  }
  .about .about-content .left img{
    width: 50px;
  }
  .about .about-content .right{
    flex: 100%;
  }
  .about .about-content .column{
    width: 50%;
    margin-right: 100px;
    text-align: center;
   }
   .about .about-content .column-right{
    width: 300px;
    font-size: 20px;
    font-weight: 50;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 0;
    margin-left: -70px;
   text-align: justify;
    }
    .about .about-content .column-right .text span{
     text-align: justify;
     font-weight: 300;
     font-size: 20px;
    }
    .about .about-content .column-right p{
      width: 350px;
     font-size: 15px;
     text-align:justify;
     margin-left: -20px;
    }
    .about .about-content .column-right a{
    
     font-size: 10px;
     padding: 10px 20px;
     border-radius: 10px;
     margin-top: 10px;
    
    }

  
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text2{
      font-size: 60px;
  }
  .home .home-content .text3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  
}

@media (max-width: 500px) {
  .home .home-content .text2{
      font-size: 50px;
  }
  .home .home-content .text3{
      font-size: 27px;
  }
  
  .container-element{
    border-radius: 20%;
    font-size: 20px;
    margin: 10px 80px 0px 0px;
    /*line-height: 80px;*/
    text-align:center;
    width: 200px;
    height: 50px;
    padding-right: 20px;
    padding-left:0px;
    padding-top: 20px;
   }
  .contact .contact-content .column-left{
    width: 60%;
    font-size: 20px;
  }

  .contact .contact-content .column-right{
    font-size: 20px;
    margin-left: -100px;
    margin-bottom: 20px;
  }
  .contact .contact-content .column-right form input{
    height: 50px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 80px;
  }
  .contact .contact-content .column-right form textarea{
  font-size:15px; 
  width: 300px;
  text-align: justify;
  padding-left:30px;
  margin-left: 80px;
 
  }
  .contact .contact-content .column-right form button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 10px;
  }
  .contact .contact-content .column-left .sub-title{
    font-size:20px;
    margin-left: 20px;
    margin-top: -10px;
  }
  .scroll-up-btn{
    height: 50px;
    width: 60px;
    right: 400px;
    bottom: 20px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 6px;
  }
  
}
#msg{
  color:rgb(127, 93, 221);
  display: block;
  margin-left: 100px;
  margin-top: 20px;
}
